<body>

    <h1> Welcome to {{hotelName}}</h1>
    <div [hidden]="hideRooms">
        <div [innerText]="numberOfRooms"> </div>
    </div>

    <button (click)="fnToggle()"> Toggle </button>

    <div [ngStyle]="{'color' : rooms.availableRooms ? 'green' : 'red'}">
        Number of rooms: {{rooms.availableRooms ?? 'no rooms'}}
    </div>

    <div> 
        <button (click)="addRoom()"> Add room </button>
    </div>

    <rnd-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"> </rnd-rooms-list>
    <div *ngIf="selectedRoom">
        {{selectedRoom | json}}
    </div>


    <rnd-rondels-list [rondels]="rondelList" (selectedRondel)="selectRondel($event)"> </rnd-rondels-list>
    <div *ngIf="selectedRondel">
        {{selectedRondel | json}}
    </div>
</body>